# Environnement Python (Très important pour ne pas pusher tes biblio)
venv/
.venv/
env/
__pycache__/
*.py[cod]

# Fichiers de configuration SECRETS (Priorité Phase 1)
.env
.env.local

# Fichiers système
.DS_Store
Thumbs.db
venv/
__pycache__/
*.csv
.DS_Store
*.pyc
*.pyo
*.pyd
.Python
env/
instance/
.webassets-cache
.pytest_cache/
.coverage
.cache
.pytest_cache



